.toDoElement {
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    color-scheme: dark;
    height: 20px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #646cff;
    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.titleTask {
    color: #fff;
    font-size: 14px;
}