.formWrapper {
    display: flex;
    padding: 20px;
    margin: 0 auto 30px;
    align-items: center;
    form {
        margin: 0 auto;
    }
}

.inputForm {
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em 1em;
    cursor: pointer;
    &:hover {
        border-color: #646cff;
    }
    &:focus {
        outline: none;
        border: 1px solid #646cff;
    }
}